{erl_opts, [no_debug_info, deterministic]}.
{deps, []}.


%% escript
{escript_main_app, eAcs}. % specify which app is the escript app
{escript_name, genAcs}. % name of final generated escript
{escript_emu_args, "%%! -escript main genAcs\n"}. % emulator args
%%{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
%%{escript_comment, "%%\n"}. % comment at top of escript file